<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all-icons.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  {% block stylesheet %} {% endblock %}
  <title>Bos en Duin - {% block title %} {% endblock %}</title>
</head>

<body class="bg-gray-900 font-sans leading-normal tracking-normal">
  {% include 'includes/flash_allert.html' %}
  <!-- page content -->
  <div class="content-container">{% block content %} {% endblock %}</div>
</body>

</html>