<!--inherits from this base -->
{% extends "bases/base.html" %}

<!--page specific title -->
{% block title %} bungalows {% endblock %}

<!--page specific css -->
{% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bungalows.css') }}"
/>
{% endblock %}

<!--page specific content -->
{% block content %}
<div class="wrapper">
  <div class="filter-container inline">
    <p class="title">filter</p>
  </div>
  <div class="bungalows-container inline">
    <h1 class="title">bungalows</h1>
    <div class="center-content">
      {% for i in bungalows_obj %}

      <div class="product-frame">
        <a class="normalize-link" href="bungalows/bungalow/{{i.uuid}}">
          <img
            width="200"
            height="200"
            src="{{ url_for('static', filename=i.img_b64)}}"
            alt=""
          />
          <p class="product-name">{{i.title}}</p>
          <p class="product-price">
            <i class="fa-solid fa-euro-sign"></i>{{i.price}}
          </p>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
