<!--inherits from this base -->
{% extends "bases/base.html" %}

<!--page specific title -->
{% block title %} test {% endblock %}

<!--page specific css -->
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calender.css') }}">
{% endblock %}

<!--page specific content -->
<div class="content-container">
    {% block content %}

    <div class="flex items-center justify-center min-h-screen">
        <div class="px-8 py-6 mx-4 mt-4 text-left bg-white rounded-md shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
            <h3 class="text-2xl mb-6 font-bold text-center">update reservation</h3>


            <div class="width-450px mx-auto">
                <form class='' action="" method="post">
                    {{form.hidden_tag()}}
                    {{form.start_date(id="begin-date", hidden='') }}
                    {{form.end_date(id="end-date", hidden='') }}

                    {{form.submit(class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900 mb-4 w-full")}}
                </form>
                <div class="calender">
                    <div class="month">
                        <i class="fas fa-angle-left prev"></i>
                        <div class="date">
                            <h1></h1>
                            <p></p>
                        </div>
                        <i class="fas fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                        <div>Sun</div>
                    </div>
                    <div class="days"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/calender.js') }}"></script>
    {% endblock %}

</div>