<div class="container mx-auto flex items-center justify-center">
    <ul class="flex">
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/admin/bungalowoverview">bungalows</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/admin/useroverview">users</a>
        </li>
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" href="/admin/reservationoverview">reservations</a>
        </li>
    </ul>
</div>