<header>
  <div class="header-container">
    <div class="logo-container">
      <h2>
        <a class="normalize-link" href="/">logo</a>
      </h2>
    </div>
    <div class="nav-container">
      <nav>
        <ul>
          <li>
            <a class="normalize-link" href="/bungalows">bungalows</a>
          </li>
          <li>
            <a class="normalize-link" href="">mijn reseveringen</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="account-info-container">
      <a class="normalize-link" href="">
        <span>username</span>
        <i class="fa-solid fa-address-card"></i>
      </a>
    </div>
  </div>
</header>
